<div style="background-color: #F8F8F8; min-height: 91vh;">


  <!-- Car Listings -->
  <div style="margin-top: 10px;" class="child" *ngFor="let car of cars">
    <div nz-row>
      <div nz-col nzSpan="8">
        <img class="profile" style="height: 130px; width: 200px; border-radius: 10px;" [src]="car.processedImg"
             alt="profile" />
      </div>
      <div nz-col nzSpan="16">
        <h2 style="cursor: pointer; color: #108ee9;">
          {{car.brand}} - {{car.name}}</h2>
        <p>{{car.description}}</p>

        <hr>
        <h5>Price: <b>{{convertPrice(car.id) | currency:selectedCurrency}}</b> - Color: <b>{{car.color}}</b> - Transmission:
          <b>{{car.transmission}}</b> - Type: <b>{{car.type}}</b> - Year: <b>{{car.modelYear | date: 'yyyy'}}</b>
        </h5>
        <hr>
        <div style="float: right;">
          <button style="margin-left: 10px;" nzSize="small" nz-button nzType="primary"
                  routerLink="/customer/book_car/{{car.id}}">Book This Car</button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="isVisible" nz-row class="currencym">
    <h1> Please choose your currency  </h1>
  <!-- Currency Selection Dropdown -->
  <div style="padding-top: 10px;"  class="currency">
    <label for="currency-select">Select Currency:</label>
    <select id="currency-select" [(ngModel)]="selectedCurrency" (change)="onCurrencyChange()">
      <option value="USD">USD</option>
      <option value="EUR">EUR</option>
      <option value="GBP">GBP</option>
      <option value="JPY">JPY</option>
    </select>
  </div>
  </div>
</div>

