.custom-navbar {
  background-color: #1a1a1a; // A slightly lighter shade of black for better visibility
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; // Added padding for better spacing

  .navbar-title {
    a {
      color: white;
      margin-left: 10px;
      font-size: 20px; // Slightly larger for more prominence
      font-weight: bolder;
      text-decoration: none; // Removes underline from links
      transition: color 0.3s ease; // Smooth transition for hover effect

      &:hover {
        color: #007bff; // Highlight color when hovered
      }
    }
  }

  .nav-links {
    display: flex;
    align-items: center;

    a {
      color: white;
      margin-left: 15px;
      font-size: 16px; // Standard size for navigation links
      text-decoration: none; // Consistency in style
      padding: 5px 10px; // Padding for better clickability
      border-radius: 5px; // Rounded corners for a modern look
      transition: background-color 0.3s, color 0.3s; // Smooth transitions for interactions

      &:hover {
        background-color: #007bff; // Blue background on hover for emphasis
        color: #ffffff; // Keeps text white for readability
      }
    }
  }
}
